In [2]:
#Q1
t=()

In [3]:
type(t)

tuple

In [1]:
t=("ayu", "muskan", 23, True, 43.1, ["ayushi", 2, 3+6j, 6.5])

In [12]:
t

('ayu', 'muskan', 23, True, 43.1, ['ayushi', 2, (3+6j), 6.5])

In [ ]:
#Q2
var1 = ' ' --> str
var2 = '[ DS , ML , Python]'  --> str
var3 = [ 'DS' , 'ML' , 'Python' ]  --> list
 var4 = 1 --> int

In [17]:
#Q3  Explain the use of the following operators using an example:
#(i) / = division operator...gives a floating point value

10/5

2.0

In [19]:
#(ii) % = modulus operator...gives remainder after division
 
40%8

0

In [20]:
#(iii) // = division operator...gives a whole number

10//5

2

In [21]:
#(iv)  ** = Exponent operator...performs exponential operator

2**3

8

In [22]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type

l= []

In [23]:
type(l)

list

In [36]:
l=[23,"ayu", 4,6,"viksit", 32.1,"muskan",7,"pw",546,]

In [37]:
len(l)

10

In [38]:
l1_num=[]
l2_str=[]

for i in l :
    if type(i) == int or type(i) == float:
         l1_num.append(i)
    else :
         l2_str.append(i)

In [39]:
l1_num  #int data type

[23, 4, 6, 32.1, 7, 546]

In [40]:
l2_str  #string data type

['ayu', 'viksit', 'muskan', 'pw']

In [4]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

A=int(input("enter the value of A"))
B=int(input("enter the value of B"))

if A%B ==0:
    print("A is divisible by B")
else :
    print("A is not divisible by B")

enter the value of A 40
enter the value of B 5

A is divisible by B

In [1]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not

In [2]:
l=[]

In [3]:
type(l)

list

In [4]:
l=[2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26]

In [5]:
l1=[] #list for element divisible by 3
l2=[] #list for element not divisible by 3

for i in l :
    if i%3 == 0 :
         l1.append(i)
    else :
         l2.append(i)

In [6]:
l1

[3, 6, 9, 12, 15, 18, 21, 24]

In [7]:
l2

[2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26]

In [13]:
i= int(input("enter the element:"))
i1=3

if  i%i1 == 0 :
    print("Element is divisible by 3")
else :
    print("Element is not divisible by 3")

enter the element: 24

Element is divisible by 3

In [14]:
i= int(input("enter the element:"))
i1=3

if  i%i1 == 0 :
    print("Element is divisible by 3")
else :
    print("Element is not divisible by 3")

enter the element: 13

Element is not divisible by 3

In [18]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

#A mutable object can be changed after it is created. Ex: list,set
#An immutable object cannot be changed after it is created. Ex: string, tuple

l=[]

In [20]:
type(l)

list

In [21]:
l=[34,2,"ayu", 45.3, True, "ayushi",3+4j]

In [23]:
l[1]=200

In [24]:
l

[34, 200, 'ayu', 45.3, True, 'ayushi', (3+4j)]

In [25]:
l

[34, 200, 'ayu', 45.3, True, 'ayushi', (3+4j)]

In [26]:
s=" "

In [27]:
type(s)

str

In [28]:
s= "ayushi"

In [30]:
s[2]=i

TypeError: 'str' object does not support item assignment

In [31]:
t=()

In [32]:
type(t)

tuple

In [33]:
t=(34,2,"ayu", 45.3, True, "ayushi",3+4j)

In [35]:
t[1]=200

TypeError: 'tuple' object does not support item assignment